.toolbar-container {
    height: calc(100% - 6px);
    width: 15%;
    background-color: rgb(220, 220, 220);

    border-style: solid;
    border-color: rgb(160, 160, 160);
    border-width: 3px;
}

.animation-selection {
    height: calc(25% - 1px);
    width: 100%;

    display: flex;
    justify-content: center;

    border-color: rgb(160, 160, 160);
    border-bottom-style: ridge; 
    border-width: 1px;

    cursor: pointer;
}

.animation-selection:hover {
    background-color: rgb(160, 160, 160, .5);
}

.selected {
    background-color: rgb(160, 160, 160);
}

.animation-icon {
    height: auto;
    max-width:80%;
    max-height:80%;
    display:block;
    margin: auto;
}