.toolbar-container {
    height: 100%;
    width: 15%;
    background-color: rgb(220, 220, 220);

    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.shape-selection {
    color: black;
    width: 100%;
    height: 25%;

    display: flex;
    justify-content: center;

    border-color: black;
    border-bottom-style: groove; 
    border-width: 1px;
}

.selected {
    background-color: rgb(160, 160, 160);
}

.shape-icon {
    display:block;
    margin: auto;
}
