.options-container {
    height: 25%;
    width: 15%;
    
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    align-content: flex-start;
}

.wrapper {
    width: 31%;
    margin: 1px;
}

.icon {
    width: 100%;
    cursor: pointer;
}

.icon:hover {
    background-color: rgb(160, 160, 160, 0.5);
}

@font-face {
    font-family: Poppins;
    src: url(../../Poppins-Regular.ttf);
}

.title {
    font-family: Poppins;
    position: absolute;
    bottom: 4px;
    left: 10px;

    font-weight: 400;
    /* font-size: 30px; */
    font-size: 1.8vw;
    letter-spacing: 0.25em;
}